@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-advent: "Advent Pro", sans-serif;
  --color-shop_light_purple: #f3e8ff;
  --color-shop_dark_blue: #1d3557;
  --color-shop_btn_dark_blue: #2a4365;
  --color-shop_light_bg: #f8fafc;
  --color-shop_light_green: #38b2ac;
  --color-shop_orange: #ff7f50;
  --color-darkColor: #1a202c;
  --color-lightColor: #718096;
  --color-lightOrange: #fbd38d;
  --color-deal-bg: #edf2f7;
}
